@import './libs/reset';
@import './libs/variables';
@import './libs/fonts';

@import './UI/burger';
@import './UI/title';
@import './UI/button';
@import './UI/checbox';
@import './UI/checbox-agree';

@import './modules/header';
@import './modules/amount';
@import './modules/basket';
@import './modules/order';
@import './modules/addressee';
@import './modules/modal';
@import './modules/mob';

@import './modules/cart-item/box';
@import './modules/cart-item/count';
@import './modules/cart-item/info';
@import './modules/cart-item/total';

html{
    box-sizing: border-box;
    height: 100%;
}

body{
	font-family: 'Segoe UI';
    font-weight: normal;
    color: $color-text;
    height: 100%;
    background-color: $violet;
}

.main {
    flex-grow: 1;
    background-color: #f6f6f9;
    border-radius: 24px;
}

.main__wrapper{
    display: flex;
    padding: 24px 0 50px;
    gap: 32px;
}

.cart{
    flex: 1;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer {
    height: 64px;
    flex: 0 0 auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    p{
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: rgba(#FFFFFF, 0.7);
    }
}

.container{
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
    position: relative;
}

.hide {
    display: none;
}

.show{
    display: flex;
}


@media (max-width: 1024px) {
    .container{
        width: 100%;
    }
}
@media(max-width: 320px){
    .container{
        padding: 0;
    }
    .product, .absence{
        padding: 0 16px;
    }
    .product{
        gap: 15px;
    }
    .main__wrapper{
        flex-direction: column;
        padding: 14px 0 50px;
    }
    .cart{
        padding: 0;
    }
}