.box{
    display: flex;
    gap: 12px;
    align-items: center;
    &-absence{
        filter: grayscale(100%);
    }
    @media(max-width: 320px) {
        position: relative;
        width: 80px;
    }
}
