.basket{
    &__selector{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 40px;
            height: 1px;
            width: 100%;
            background-color: rgb(184 175 175 / 49%);
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        gap: 30px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-inner{
            display: flex;
            gap: 16px;
            align-items: flex-start;
            width: 397px;
            justify-content: flex-end;
        }
    }
   
}


