.button {
    width: 381px;
    height: 44px;
    padding: 0 32px 5px 32px;
    border-radius: 8px;
    border: none;
    background-color: rgba(203, 17, 171, 1);

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}