.title {
   
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    &__13{
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }
    &__13-bold{
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
    }
    &__16-bold{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    &__20{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.01em;
        text-align: right;
    }
    &__24{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1px;
        margin-bottom: 6px;
    }
    &__28{
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
    }
    @media(max-width: 320px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        &__24{
            line-height: 24px;
        }
        &__28{
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.subtitle{
    color: $color-text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}